* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font: 24px bold;
}

header, footer {
    padding: 1rem;
    font-size: 30px;
    font-weight: bolder;
    background-color: rgb(5, 5, 75);
    color: #2dfcff;
}
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    background-color: rgb(40, 12, 110);
    color: #2dfcff;
    font-size: larger;
    font-weight: bold;
}

.score-main {
    width:75%;
    margin: 4rem 0;
}

.score-info,.score-message,.score-panel {
    padding: 1rem 0;
    margin: 0.5rem;
} 

.score-info,.score-message {
    font-size: larger;
    font-weight: bolder;
}
.score-board {
    display: flex;
}

.score-column {
    flex:1;
}

.score-message-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: #2dfcff solid 2px;
    width: 100%;
    height: 10rem;
}

.button-container {
    display: flex;
    width: 75%;
    justify-content: center;
    align-items: center;
    gap: 15%;
}
.button-container button {
    width:200px;
}
.button-container img {
    width: 100%;
    background-color: #2dfcff;
}

.winner {
    font-size: larger;
    font-weight: bolder;
    color: red;
}